.landing {
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
  &_img-one {
    max-width: 85%;
    border-radius: 50px;
    -webkit-mask-image: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 95%
    );
  }
  &_img-two {
    max-width: 20%;
    border-radius: 50%;
    margin-top: 3rem;
  }
  &_link {
    text-decoration: none;
    color: #636363;
  }
}
