.landing {
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
  overflow: scroll;
  &_img-one {
    margin-top: 15%;
    max-width: 85%;
    border-radius: 50px;
    -webkit-mask-image: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 95%
    );
  }
}

.section {
  display: flex;
  justify-content: space-evenly;
  &_img {
    max-width: 30%;
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  &_link {
    margin-top: 8rem;
    text-decoration: none;
    color: #54575a;
  }
}
