.details {
  margin: 5%;
  display: flex;
  flex-direction: column;
  background-color: #86d3c9;
  padding: 2rem;
  border-radius: 10px;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
  &_img {
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    @media all and (min-width: 768px) {
      max-width: 60%;
    }
  }
  &_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
    &-title {
      color: #54575a;
      font-weight: 800;
    }
    &-phrase {
      color: white;
    }
    &-year {
      color: #4a7973;
    }
    &-director {
      color: #283c39;
    }
  }
  &_audio {
    color: #b17304;
  }
}

.icon {
  margin: 1rem;
}
